// commentaire 

#Accueil{ 
    color: $special ;

}



.ChambreSlider img{
    width: 40%;
}

main{
    height: 80%;
    margin-left: 24%;  
}

.ImagePiecesHotel img{
    width: 40%; 
    margin-left: 5%; 
   height: auto;
    
}

.ImagesChambres img{
    width: 40%;  
}

.LeRestaurant img{
    width: 40%;   
}

.ExperienceBienEtre img{
    width: 40%;   
}

.Epanouissement img {
    width: 40%;   
}

.ExperienceCentreAquatique img{
    width: 40%;  
}

.ExperienceDuLuxe{
    margin-left: 8% ;
    display: flex;
  

}

.Description{
   color:  $blanc;
   font-family: $fontTitre;
   font-weight: lighter;
   font-size: 35px;
}

.Hotel-Ducsman{
    color: $special;
    font-family: $fontLien;
    letter-spacing: 4px;
}

.BienvenueTxt{
    color: $grisClair;

font-family: $fontTexte;
}

.ImagePiecesHotel{
    display: flex;

}

.ImagePiecesHotel img:first-of-type{
    margin-top: 90px;
}

.ImagePiecesHotel img:last-of-type{
    margin-bottom: 90px;
}

.ImagesChambres {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px  ;
    #roomUn{
        grid-column: 1 / 3;
    }
}

.blocimg{
  
}