section, main {
    background-color: $grisClairMoyen;
   
    
ul {
    list-style-type: none;
    li {
    margin-right: 150px;
    }
}
}
p,
label {
    color: $grisClair;
}
.contactgauche {
    color: $grisClair;
}

    .logossocials {
        color: $blanc;
    }
   
    

    input, 
    textarea {
        background-color: $grisClairMoyen;
        border-color: $grisClairMoyen;
        border: transparent;
    }

    


#Contact {
    color: $special;
}

h2 {
    margin: 0;
    color: $blanc;
    font-family: $fontTitre;
    font-size: 1.5em;
    letter-spacing: 0.1em;
}

.colored {
    color: $special;
}

.endtextwhite {
    color: $blanc;
}



.bloc1 {
    display: flex;
    flex-direction: row;
    .contactgauche {
        display: flex;
        margin-left: 130px;
        flex-direction: column;
        flex-wrap: wrap;
        margin-right: 3em;
    }
    .formulaire {
        display: flex;
        flex-direction: column;
        margin-left: 3em;
    }
    
    a {
        margin-top: 30px;
    }
}

header {
    overflow-y: hidden;
    background-color: $grisFonce;
}

@media screen and (min-width: 320px) and (max-width: 768px) {

    .bloc1 {
        display: flex;
        flex-direction: column;
    }
}