//Variables pour les polices à utiliser // 

$fontTitre : 'Gilda Display', serif;
$fontAnnotation : 'Barlow Condensed', sans-serif;
$fontLien : 'Barlow', sans-serif;
$fontTexte : 'Barlow', sans-serif;

// Différentes couleurs à utiliser //

$marron : #aa8453;
$buttonMarron : #ab8a62;
$buttonGris : #3b3b3b;
$gris : #2b2b2b;
$grisClair : #8d8d8d;
$grisFonce : #1b1b1b;
$grisClairMoyen : #222222;
$grisFonceMoyen : #1e1e1e;
$jauneEtoile : #e3a752;
$blanc : #ffffff;

// Applications de nos variables préalablements créers sur les titres, bouttons, textes etc //
$titre : $blanc;
$button : $buttonMarron;
$texte : $grisClair;
$special : $marron;
