$background-aside: #222222;
// Couleur de fond des cotés //
$background: #1E1E1E;
// Couleur fond principal // 
$background-boutton: #AB8A62;
// Fond du boutton //
$txt-boutton: white;
// couleur texte du boutton //


$texte-couleur: #AB8A62;
// Couleur du texte // 

$margin-body: 0; 
$font-txt: 'Barlow', sans-serif;
// Police du texte //
$font-titres: 'Gilda';
// Police des titres //

$bordure-boutton : 1px solid;
// Création de bordure pour les bouttons //