
.bloc2 {
    display: flex;
    flex-direction: row;
    margin-top: 5em;
    justify-content: space-between ;

    .apropos {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 60%;

        p{
            padding-right: 15%;
            line-height: 170%;
            
        }
    }

    .contact {
        display: flex;
        flex-direction: column;
        margin-right: 10em;
       
       

        .lignehaut {
            display: flex;
        }
        .lignecentre {
            display: flex;  
        }

        
    }


}

    #telinput {
        width: 90px;
    }

    .bloc2 h2{
        font-family:$fontTitre ;
        font-weight: lighter;
    }

    .logossocials i{
        color: white;
        margin: 5px;
        
    }

    .logossocials{
        margin-top: 15px;
    }

    .telEmail{
        font-family: $fontTitre ;
        color: white;
        
        span{
            font-size: 20px;
       
        }

        .flaticon-call{
            color: white;
        }
    }