footer {
    display: flex;
    justify-content: center;
    background-color: $grisFonceMoyen;
    color: $grisClair;
    font-size: 10px;
    width: 100%;
    .texteblanc {
        color: $blanc;
    }
    
   }
