//boite d'image Grid


.Chambres {
    .Ducsman{
        color: $special;
    }
}

.gridcont1 {
 
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 5vw);
    grid-gap: 20px;
    padding-bottom: 25px;
    padding-top: 25px;
    
}

.gridcont1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.reservation{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;

}
.reservation1  {
    background-image: url(/images/rooms/1.jpg);
  grid-area: ;
        grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 5;
}




.reservation2 {
    background-image: url(/images/rooms/2.jpg);
    

    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}

.reservation3{
    background-image: url(/images/rooms/3.jpg);
    

    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
}



.gridcont2 {
 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 5vw);
    grid-gap: 20px;
    padding-bottom: 80px;
}

.gridcont2 img {
    
   background-size:cover;
}


.reservation4{
    background-image: url(/images/rooms/4.jpg);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
   
}

.reservation5{
    background-image: url(/images/rooms/5.jpg);
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
  
}








// Loisirs 

.LeRestaurant img {
    width: 60%;

}

.ExperienceBienEtre img {
    width: 40%;
}

.Epanouissement img {
    width: 40%;
}

.ExperienceCentreAquatique img {
    width: 40%;
}


.LeRestaurant {
    display: flex;
    flex-direction: row;

    .Restaurant {
        width: 50%;
    }
}

.ExperienceBienEtre {
    display: flex;
    flex-direction: row-reverse;

    .SalonDeMassage {
        width: 50%;
    }
}

.Epanouissement {
    display: flex;
    flex-direction: row;

    .SalleDeSport {
        width: 50%;
    }
}

.ExperienceCentreAquatique {
    display: flex;
    flex-direction: row-reverse;

    .Piscine {
        width: 50%;
    }
}

h4 {
    color: $special;
    font-family: $fontLien ;
    font-size: 15px;
    letter-spacing: 3px;
}

h3 {
    color: $blanc;
    font-family: $fontTitre ;
    font-weight: lighter;
    font-size: 25px;
}

p {
    color: $grisClair;
    font-family: $fontTexte;
    text-align: justify;
    margin-bottom: 30px;

}

.DecouverteTxt {
    padding-right: 20px;
    padding-left: 20px;

}

.EnSavoirPlus {
    background-color: $special;
    padding: 10px 20px 10px 20px;
    font-family: $fontLien ;
    letter-spacing: 3px;
    font-size: 10px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: $blanc;
}

.Epanouissementdeux {
    padding-right: 20px;
    padding-left: 20px;
}

.CentreAquatique {
    padding-right: 20px;
    padding-left: 20px;
}

.ExperiencesTxt {
    padding-right: 20px;
    padding-left: 20px;
}

.blocLoisirs{
    background-color:$gris ;
}

.fondDeux{
    background-color: $grisClairMoyen;
  
}

// Bien mettre la nav bar et le contenu //
.colonnes {
display: grid;
grid-template-columns: 20% 80%;
height: auto;
}

