//boite d'image Grid


.Chambres {
    .Ducsman{
        color: $special;
    }
}

.gridcont1 {
 
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  
    gap: 5px ;
  
    padding-top: 25px;
    
}

.gridcont1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.reservation{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;

}
.reservation1  {
    background-image: url(/images/rooms/1.jpg);  
    background-size: 450px 450px ;   
    background-repeat: no-repeat;
        grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 5;
      
   
    
}


.reservation2 {
    background-image: url(/images/rooms/2.jpg);
    background-size: 450px 450px ;
    background-repeat: no-repeat;

    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}

.reservation3{
    background-image: url(/images/rooms/3.jpg);
    background-size: 450px 450px ;
    background-repeat: no-repeat;

    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
}



.gridcont2 {
 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 5vw);
    grid-gap: 20px;
    padding-bottom: 80px;
}

.gridcont2 img {
    
   background-size:cover;
}


.reservation4{
    background-image: url(/images/rooms/4.jpg);
    background-size: 700px 400px ;
    background-repeat: no-repeat;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
   
}

.reservation5{
    background-image: url(/images/rooms/5.jpg);
    background-size: 670px 400px ;
    background-repeat: no-repeat;
   
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
  
}


.gridLegend1{
    
   padding-top:  50%;
   padding-left: 10px;

   a{
    font-family: $fontLien;
    font-weight: bold;
   }

   span a{
    font-size: 30px;
    font-family: $fontTitre;
    font-weight:lighter;
   }
 
   
   
   
}

.reservation1 {

    

    .reservation{
        writing-mode: vertical-rl;
padding-top: 25px;
padding-left: 85%;
font-family: $fontLien;
font-weight: bold;
letter-spacing: 2px;

    }
  
}

   .reservation2 {

    .reservation{
    writing-mode: vertical-rl;
    padding-top: 30px;
padding-left: 85%;
font-family: $fontLien;
font-weight: bold;
letter-spacing: 2px;
    
    }
   }

   .reservation3 {

    .reservation{
    writing-mode: vertical-rl;
    padding-top: 30px;
padding-left: 85%;
font-family: $fontLien;
font-weight: bold;
letter-spacing: 2px;
    
    }
   }

   .reservation4 {

    .reservation{
    writing-mode: vertical-rl;
    padding-top: 30px;
padding-left: 92%;
font-family: $fontLien;
font-weight: bold;
letter-spacing: 2px;
    
    }
   }

   .reservation5 {

    .reservation{
    writing-mode: vertical-rl;
    padding-top: 30px;
padding-left: 89%;
font-family: $fontLien;
font-weight: bold;
letter-spacing: 2px;
    
    }
   }
.gridLegend2{
    padding-top:  40%;
    padding-left: 10px;

    a{
        font-family: $fontLien;
        font-weight: bold;
       }
    
       span a{
        font-size: 30px;
        font-family: $fontTitre;
        font-weight:lighter;
       }
 }

 
.gridLegend3{
    padding-top:  40%;
    padding-left: 10px;

    a{
        font-family: $fontLien;
        font-weight: bold;
       }
    
       span a{
        font-size: 30px;
        font-family: $fontTitre;
        font-weight:lighter;
       }
 }

 
.gridLegend4{
    padding-top: 25%;
    padding-left: 10px;

    a{
        font-family: $fontLien;
        font-weight: bold;
       }

     
    
       span a{
        font-size: 30px;
        font-family: $fontTitre;
        font-weight:lighter;
       }
 }

 .chambres{
 a:hover{
    font-family: $fontLien;
    font-weight: bold;
    color: black;
   }
}
 
.gridLegend5{
    padding-top:25%;
    padding-left: 10px;

    a{
        font-family: $fontLien;
        font-weight: bold;
       }
    
       span a{
        font-size: 30px;
        font-family: $fontTitre;
        font-weight:lighter;
       }
 }



.gridContainer a:hover{
    color: black;
}

