  .burger {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2;
  }
  
  .main-nav-burger {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $grisFonce;
    width: 20%;
    min-height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1;
  }
  
  .main-nav-burger.visible {
    transform: translateX(0%);
    position: fixed;
  }
  
  #btn-burger {
    background-color: $special;
    border: 0.1em solid;
}
.burger .burger-bar {
    width: 30px;
    height: 4px;
    background-color: $grisFonce;
    display: block;
    margin: 5px auto;
  }

  // Media queries pour afficher le bouton burger uniquement sur les écrans plus petits que 768px // 
  
/*@media screen and (min-width: 768px) {
    #btn-burger {
/*@media only screen and (min-width: 768px) {
    .burger {
      display: none;
    }
  }
  
 
@media screen and (max-width: 400px) {
    #btn-burger {
      display: block;
    } taille ecran jusque 400px
  }*/
    }
  }*/