// 

.ServicesEnplus h2  {
   
    font-family: $fontTitre ;
    font-weight: lighter;
    font-size: 40px;
}

.TroisUn{
    display: flex;
    flex-direction: row;
  justify-content: space-between;

    .Transferts{
       max-width: 20%;
       margin-right: 5%;
    }

.Parking{
 padding-left: 6%;
}
    .RoomService{
       padding-left: 18%
    }
       }


.TroisDeux{
    display: flex;
    flex-direction: row;
  justify-content: space-between;
}


.TroisUn span{
    color: white;
}

   

.TroisDeux span{
    color: white;
}
