// 

.ServicesEnplus h2  {
   
    font-family: $fontTitre ;
    font-weight: lighter;
    font-size: 40px;
}



.TroisUn{
    display: flex;
    flex-direction: row;
  justify-content: space-between;

    .Transferts{
       max-width: 20%;
       margin-right: 5%;
    }

.Parking{
    padding-left: 6%;
 width: 40%;
}
    .RoomService{
       padding-left: 9%;
       margin-right: 7%;
    }
       }


.TroisDeux{
    display: flex;
    flex-direction: row;
  justify-content: space-between;

 .Internet{
    width: 27%;
 }
  
.PetitDejeuner3{
   width: 35%;

}
p{
    padding-right: 15%;
}

  }



.TroisUn span{
    color: white;
    font-family:$fontTitre ;
        font-weight: lighter;
}

   

.TroisDeux span{
    color: white;
    font-family:$fontTitre ;
        font-weight: lighter;
}
