// 

.ServicesEnplus  {
   
    font-family: $fontTitre ;
    font-weight: lighter;
}

.TroisUn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .Transferts{
        width: 25% ;
       }
}

.TroisDeux{
    display: flex;
    flex-direction: row;
  justify-content: space-between;
}


.flaticon-world{
    display: flex;
    flex-direction: column;

    i{
        width: 45px;
    }
   
}